* {
  font-family: 'Roboto', sans-serif;
}

.main {
  width: 100%;
}

.main .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .top-left_container {
  width: 70%;
  background-image: url("../img/background_head.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main .top-right_container {
  width: 30%;
  background-color: #f3f3f3;
  padding: 3% 1% 6% 3%;
}

.main .top-right_container img {
  opacity: .6;
  margin-bottom: 12%;
}

.main .top-right_container img:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main .top-right_container h2 {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: #262f32;
  margin-bottom: 12%;
}

.main .top-right_container h2 span {
  display: inline-block;
  width: 100%;
}

.main .top-right_container h2 .head-text {
  font-weight: 700;
}

.main .top-right_container h2 .foot-text {
  font-weight: 400;
}

.main .top-right_container p {
  width: 83%;
  font-size: 18px;
  line-height: 1.4;
  color: #262f32;
}

.main .top-right_container .top-right_container--top_text {
  margin-bottom: 8%;
}

.main .center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .center-left {
  width: 45%;
  background-image: url("../img/main_first_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3%;
}

.main .center-left h2 {
  font-size: 45px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 5%;
}

.main .center-left h2 span {
  font-weight: 900;
}

.main .center-left p {
  width: 85%;
  opacity: 0.87;
  font-size: 15.6px;
  font-weight: 400;
  line-height: 2;
  color: #ffffff;
  margin-bottom: 10%;
}

.main .center-left p:last-child {
  margin-bottom: 0;
}

.main .center-right {
  width: 55%;
}

.main .center-right-top_block {
  width: 100%;
  background-image: url("../img/main_second_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5.34% 5% 10% 5%;
}

.main .center-right-top_block h2 {
  font-size: 45px;
  font-weight: 300;
  color: #262f32;
  margin-bottom: 3.8%;
}

.main .center-right-top_block h2 span {
  font-weight: 900;
}

.main .center-right-top_block p {
  width: 67%;
  opacity: 0.87;
  font-size: 15.6px;
  line-height: 2;
  font-weight: 400;
  color: #262f32;
  margin-bottom: 5%;
}

.main .center-right-top_block a {
  width: 212px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #262f32;
  border-radius: 12px;
  font-size: 16.6px;
  font-weight: 400;
  text-decoration: none;
  color: #262f32;
}

.main .center-right-top_block a:hover {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #F7E9C6;
}

.main .center-right-foot-block {
  width: 100%;
  background-image: url("../img/main_third_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5.34% 5% 10% 5%;
}

.main .center-right-foot-block h2 {
  font-size: 45px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 3.8%;
}

.main .center-right-foot-block h2 span {
  font-weight: 900;
}

.main .center-right-foot-block p {
  width: 67%;
  opacity: 0.87;
  font-size: 15.6px;
  line-height: 2;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 5%;
}

.main .center-right-foot-block a {
  width: 212px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  border-radius: 12px;
  font-size: 16.6px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

.main .center-right-foot-block a:hover {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #29323d;
}

.main .foot {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .foot-left {
  width: 35%;
  background-image: url("../img/footer_left_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 3% 5% 3%;
}

.main .foot-left h2 {
  font-size: 45px;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 50%;
}

.main .foot-left h2 span {
  font-weight: 900;
}

.main .foot-left svg {
  margin-bottom: 8%;
}

.main .foot-left h3 {
  font-size: 42px;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 5%;
}

.main .foot-left p {
  font-size: 16.6px;
  font-weight: 400;
  color: #ffffff;
}

.main .foot-right {
  width: 65%;
  background-image: url("../img/footer_right_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5.5% 3% 5% 3%;
}

.main .foot-right h2 {
  font-size: 45px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 7%;
}

.main .foot-right h2 span {
  font-weight: 900;
}

.main .foot-right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 7%;
}

.main .foot-right form input {
  width: 34%;
  height: 57px;
  background-color: rgba(0, 0, 0, 0);
  border: 1.5px solid #ffffff;
  border-radius: 15px;
  font-size: 16.6px;
  font-weight: 400;
  color: #ffffff;
  padding-left: 3%;
  margin-bottom: 2%;
}

.main .foot-right form input:first-child {
  margin-right: 2%;
}

.main .foot-right form textarea {
  width: 70%;
  height: 161px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 15px;
  font-size: 16.6px;
  font-weight: 400;
  color: #ffffff;
  padding: 2% 3%;
}

.main .foot-right p {
  font-size: 16.6px;
  font-weight: 400;
  color: #ffffff;
}

.main .foot-right-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3%;
  margin-bottom: 5%;
}

.main .foot-right-icons .icon {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
}

.main .foot-right-icons .icon:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotate(359deg) scale(1.2);
          transform: rotate(359deg) scale(1.2);
  margin: 1%;
}

.main .foot-right-icons .icon-facebook {
  background-color: #345bb4;
}

.main .foot-right-icons .icon-twitter {
  background-color: #e64895;
  margin: 0 1%;
}

.main .foot-right-icons .icon-dribble {
  background-color: #00b4ff;
}
/*# sourceMappingURL=style.css.map */