* {
    font-family: 'Roboto', sans-serif;
}

// / Landscape - телефоны /
@media (max-width: 479px) {
    .main {
        h2 {
            font-size: 35px!important;
        }
        .top {
            flex-wrap: wrap;
            &-left_container {
                width: 100%!important;
                height: 500px;
                background-position: inherit!important;
            }
            &-right_container {
                width: 100%!important;
                & h2 {
                    margin-top: 20%;
                }
            }
            .menu__btn {
                top: 554px!important;
            }
            .menu__box {
                top: 530px!important;
                width: 80%!important;
                left: 5px;
            }
        }
        .center {
            flex-wrap: wrap;
            &-left {
                width: 100%!important;
            }
            &-right {
                width: 100%!important;
            }
        }
        .foot {
            flex-wrap: wrap;
            &-left {
                width: 100%!important;
                & h2 {
                    margin-bottom: 10%!important;
                }
            }
            &-right {
                width: 100%!important;
            }
        }
    }
}

// / От ландшафтного экрана телефона до потретного планшета /
@media (min-width: 480px) and (max-width: 767px) {}

// / От портретного планшета до ландшафтного экрана и настольных дисплеев /
@media (min-width: 768px) and (max-width: 979px) {}

// / Большой дисплей /
@media (min-width: 980px) and (min-width: 1200px) {}

.main {
    width: 100%;
    .top {
        display: flex;
        &-left_container {
            width: 70%;
            background-image: url('../img/background_head.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &-right_container {
            width: 30%;
            background-color: #f3f3f3;
            padding: 3% 1% 6% 3%;
            // Burger Menu
            #menu__toggle {
                opacity: 0;
            }
            #menu__toggle:checked~.menu__btn>span {
                transform: rotate(45deg);
            }
            #menu__toggle:checked~.menu__btn>span::before {
                top: 0;
                transform: rotate(0);
            }
            #menu__toggle:checked~.menu__btn>span::after {
                top: 0;
                transform: rotate(90deg);
            }
            #menu__toggle:checked~.menu__box {
                visibility: visible;
                right: 7%;
                top: 9px;
                width: 22%;
                padding: 50px 20px 20px 20px;
                background-color: azure;
                border-radius: 15px;
            }
            .menu__btn {
                display: flex;
                align-items: center;
                position: absolute;
                top: 20px;
                width: 26px;
                height: 26px;
                cursor: pointer;
                z-index: 1;
            }
            .menu__btn>span,
            .menu__btn>span::before,
            .menu__btn>span::after {
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #616161;
                transition-duration: .25s;
            }
            .menu__btn>span::before {
                content: '';
                top: -8px;
            }
            .menu__btn>span::after {
                content: '';
                top: 8px;
            }
            .menu__box {
                display: block;
                position: absolute;
                visibility: hidden;
                top: 0;
                width: 300px;
                margin: 0;
                padding: 80px 0;
                list-style: none;
                background-color: #ECEFF1;
                box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
                transition-duration: .25s;
            }
            .menu__item {
                display: block;
                padding: 12px 24px;
                color: #333;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                font-weight: 600;
                text-decoration: none;
                transition-duration: .25s;
            }
            .menu__item:hover {
                background-color: #CFD8DC;
            }
            & h2 {
                font-size: 40px;
                font-weight: 300;
                letter-spacing: 0.03em;
                color: #262f32;
                & span {
                    display: inline-block;
                    width: 100%;
                }
                .head-text {
                    font-weight: 700;
                }
                .foot-text {
                    font-weight: 400;
                }
                margin-bottom: 12%;
            }
            & p {
                width: 83%;
                font-size: 18px;
                line-height: 1.4;
                color: #262f32;
            }
            .top-right_container--top_text {
                margin-bottom: 8%;
            }
        }
    }
    .center {
        width: 100%;
        display: flex;
        &-left {
            width: 45%;
            background-image: url('../img/main_first_background.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 3%;
            & h2 {
                font-size: 45px;
                font-weight: 300;
                color: #ffffff;
                margin-bottom: 5%;
                & span {
                    font-weight: 900;
                }
            }
            & p {
                width: 85%;
                opacity: 0.87;
                font-size: 15.6px;
                font-weight: 400;
                line-height: 2;
                color: #ffffff;
                margin-bottom: 10%;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &-right {
            width: 55%;
            &-top_block {
                width: 100%;
                background-image: url('../img/main_second_background.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 5.34% 5% 10% 5%;
                & h2 {
                    font-size: 45px;
                    font-weight: 300;
                    color: #262f32;
                    margin-bottom: 3.8%;
                    & span {
                        font-weight: 900;
                    }
                }
                & p {
                    width: 67%;
                    opacity: 0.87;
                    font-size: 15.6px;
                    line-height: 2;
                    font-weight: 400;
                    color: #262f32;
                    margin-bottom: 5%;
                }
                & a {
                    width: 212px;
                    height: 52px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #262f32;
                    border-radius: 12px;
                    font-size: 16.6px;
                    font-weight: 400;
                    text-decoration: none;
                    color: #262f32;
                    &:hover {
                        transition: .5s;
                        transform: scale(1.1);
                        background-color: #F7E9C6;
                    }
                }
            }
            &-foot-block {
                width: 100%;
                background-image: url('../img/main_third_background.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 5.34% 5% 10% 5%;
                & h2 {
                    font-size: 45px;
                    font-weight: 300;
                    color: #ffffff;
                    margin-bottom: 3.8%;
                    & span {
                        font-weight: 900;
                    }
                }
                & p {
                    width: 67%;
                    opacity: 0.87;
                    font-size: 15.6px;
                    line-height: 2;
                    font-weight: 400;
                    color: #ffffff;
                    margin-bottom: 5%;
                }
                & a {
                    width: 212px;
                    height: 52px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #ffffff;
                    border-radius: 12px;
                    font-size: 16.6px;
                    font-weight: 400;
                    text-decoration: none;
                    color: #ffffff;
                    &:hover {
                        transition: .5s;
                        transform: scale(1.1);
                        background-color: #29323d;
                    }
                }
            }
        }
    }
    .foot {
        width: 100%;
        display: flex;
        &-left {
            width: 35%;
            background-image: url('../img/footer_left_background.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 5% 3% 5% 3%;
            & h2 {
                font-size: 45px;
                font-weight: 300;
                line-height: 1.5;
                color: #ffffff;
                margin-bottom: 50%;
                & span {
                    font-weight: 900;
                }
            }
            & svg {
                margin-bottom: 8%;
            }
            & h3 {
                font-size: 42px;
                font-weight: 900;
                color: #ffffff;
                margin-bottom: 5%;
            }
            & p {
                font-size: 16.6px;
                font-weight: 400;
                color: #ffffff;
            }
        }
        &-right {
            width: 65%;
            background-image: url('../img/footer_right_background.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 5.5% 3% 5% 3%;
            & h2 {
                font-size: 45px;
                font-weight: 300;
                color: #ffffff;
                margin-bottom: 7%;
                & span {
                    font-weight: 900;
                }
            }
            & form {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 7%;
                & input {
                    width: 34%;
                    height: 57px;
                    background-color: rgba(0, 0, 0, 0.0);
                    border: 1.5px solid #ffffff;
                    border-radius: 15px;
                    font-size: 16.6px;
                    font-weight: 400;
                    color: #ffffff;
                    padding-left: 3%;
                    margin-bottom: 2%;
                    &:first-child {
                        margin-right: 2%;
                    }
                }
                & textarea {
                    width: 70%;
                    height: 161px;
                    background-color: rgba(0, 0, 0, 0.0);
                    border: 1px solid #ffffff;
                    border-radius: 15px;
                    font-size: 16.6px;
                    font-weight: 400;
                    color: #ffffff;
                    padding: 2% 3%;
                }
            }
            & p {
                font-size: 16.6px;
                font-weight: 400;
                color: #ffffff;
            }
            &-icons {
                display: flex;
                margin-top: 3%;
                margin-bottom: 5%;
                & .icon {
                    width: 45px;
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 7px;
                    &:hover {
                        transition: 1s;
                        transform: rotate(359deg) scale(1.2);
                        margin: 1%;
                    }
                    &-facebook {
                        background-color: #345bb4;
                    }
                    &-twitter {
                        background-color: #e64895;
                        margin: 0 1%;
                    }
                    &-dribble {
                        background-color: #00b4ff;
                    }
                }
            }
        }
    }
}